*{
    font-size: 100%;
}

body{
    margin: 4rem;
    width: 30%;
}

input{
    margin: 1rem 0;
    width: 70%;
    padding: .5rem;
}

a{
    text-decoration: none;
    background: blue;
    padding: .5rem 1rem;
    border-radius: 10px;
    color: white;
}

.todo-list > div{
    padding: .5rem;
    background: grey;
    color: white;
    margin: .5rem;
    border-radius: 5px;
}

.delete{
    float: right;
    cursor: pointer;
    color: red;
}

.delete:hover{
    color: black;
}

button{
    color: white;
    background-color: blue;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
}